<form class="ui stacked segment form" action="/stations/${_station.id}/addreading" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Code</label>
            <input placeholder="00" type="number" name="code">
        </div>
        <div class="field">
            <label>Temperature</label>
            <input placeholder="00.0C" type="decimal number" name="temperature">
        </div>
        <div class="field">
            <label>Max temperature</label>
            <input placeholder="00.0C" type="decimal number" name="maxTemperature">
        </div>
        <div class="field">
            <label>Min temperature</label>
            <input placeholder="00.0C" type="decimal number" name="minTemperature">
        </div>

        <div class="field">
            <label>Wind Speed</label>
            <input placeholder="00.00kMh" type="decimal number" name="windSpeed">
        </div>

        <div class="field">
            <label>Max wind Speed</label>
            <input placeholder="00.00kMh" type="decimal number" name="maxWindSpeed">
        </div>
        <div>
            <label>Min wind Speed</label>
            <input placeholder="00.00kMh" type="decimal number" name="minWindSpeed">
        </div>

        <div class="field">
            <label>Wind Direction</label>
            <input placeholder="000 deg" type="number" name="windDirection">
        </div>
        <div class="field">
            <label>Pressure</label>
            <input placeholder="0000hPa" type="number" name="pressure">
        </div>

        <div class="field">
            <label>Max pressure</label>
            <input placeholder="0000hPa" type="number" name="maxPressure">
        </div>
        <div class="field">
            <label>Min pressure</label>
            <input placeholder="0000hPa" type="number" name="minPressure">
        </div>

    </div>

    <button class="ui blue submit button">Submit Report</button>
</form>