
<table class="ui fixed table">
    <thead>
    <tr>
        <th>Date/Time</th>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind speed</th>
        <th>Pressure</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        #{list items:_station.readings, as:'reading'}
            <tr>
                <td>
                    ${reading.getTimestamp()}
                </td>
                <td>
                    ${reading.getCode()}
                </td>
                <td>
                    ${reading.getTemperature()}
                </td>
                <td>
                    ${reading.getWindSpeed()}
                </td>
                <td>
                    ${reading.getPressure()}
                </td>
                <td>
                    <a href="/stations/${_station.id}/deletereading/${reading.id}" class="ui icon button">
                        <i class="icon trash"></i>
                    </a>
                </td>
            </tr>
        #{/list}
    </tbody>
</table>
