<div class="ui centered equal width grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <h3>${_station.name}</h3>

                <br>
                Lat: ${_station.latitude}
                <br>
                Lng: ${_station.longitude}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Weather</h3>
                <br>
                <br>
                ${_latestReading.weatherCondition()}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Temp</h3>
                <br>
                ${_latestReading.temperature} C
                <br>
                ${_fahrenheit} F
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Wind</h3>
                ${_beaufort} bft
                <br>
                ${_latestReading.windDirection()}
                <br>
                Feels like: ${_windChill.round(2)}
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <h3>Pressure</h3>
                <br>
                <br>
                ${_latestReading.pressure} hPa
            </div>
        </div>

    </div>
</div>
